.section9{
    padding: 50px 0;
    background-color: black;
    color: white;
    font-weight: 400;

    

    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 45px;
        padding-bottom: 20px;
    }

    &__akardion{

        &__line{
            width: 100%;
            height: 1px;
            background-color: grey;
        }
        &__text{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                font-size: 22px;
                padding-right: 100px;
                line-height: 35px;
                padding: 15px 100px 15px 0;
            }
        }
    }
}


@media (max-width:768px){
    .section9{
        h1{
            font-size: 35px;
            text-align: center;
        }
        .container2{
            width: 85%;
        }
        &__text{
            p{
                font-size: 18px;
            }
        }
    }
}

@media (max-width:300px){
    .section9{
        &__texts{
            p{
                padding-right: 50px;
            }
        }
    }
}